<!DOCTYPE html>
    <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">

            <!-- <link rel="stylesheet" href="/files/style.css"> -->
            <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:200,300,300i,700|Titillium+Web:400i" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v5.0"></script>
  
                <link rel="stylesheet" href='{{style}}'/>
     </head>
        <div class = "section">
            <header> 
                <div class="header">
						<div class="container-fluid">
							<div class="row">
								<div class = "col-sm-3">
									<a href="/">
                     <img src="https://www.freelogodesign.org/file/app/client/thumb/1de129f9-1622-4c41-a01e-c276daf55c5d_200x200.png?1574165784317" class = "float-left rounded" alt= "Logo_LandingPage" width = "150px" height = "150px">
                                
								      	</a>
                                </div>
                                <div class="col-sm-9">
                                        <div class="main-nav hidden-xs">
    
    
        <ul class="menuzord-menu">
            <li  title = "Home"><a href="/">Home</a>
            </li>
                <li class = "one">
                    <a href="/login" title="Features"> Log In</a>
                </li>
                <li>
                    <a href="/tutorial" title="Sign-Up">WorkOut Routines</a>
                </li>
            
                <li>
                    <a href="/aboutus" title="About-Us">About Us</a>
                </li>
                <li>
                    <a href="/usersetting" title="usersetting">User Info</a>
                </li>
                <li>
                    <a href="/contactus" title="contactus">Contact Us</a>
                </li>
        </ul>		
             
                                        </div>
                                    </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</header>
  

        {{{body}}}

<footer>
                            <div class="footer center-align">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12">
                <ul class="footer-nav">
                   <li class="active">
                        <li>
                            <a href="/terms" class="text" title="item.Name">Terms</a>
                              
                        </li>
                       <li>
                            <a href="/tips" class="text" title="item.Name">Tips & Diets</a>
                              
                        </li>
                        <li>
                       <a href="/aboutus" class="text" title="Referrals">About Us</a>
                   </li>

                        <li>
                            <a href="/contactus" class="text" title="item.Name">Contact Us</a>
                        </li>

                        <a href = "https://www.instagram.com/fitnesstracker_planner/" class="social-icon mr-3"><i class="icon fa fa-instagram"></i></a>
                        <a href = "https://www.facebook.com/fitnesstracker_planner/" class="social-icon mr-3"><i class="icon fa fa-facebook-f"></i></a>
                        <a href = "https://www.youtube.com/fitnesstracker_planner/" class="social-icon mr-3"><i class="icon fa fa-youtube-square"></i></a>
                        <a href = "https://twitter.com/FitOEat1" class="social-icon mr-3"><i class="icon fa fa-twitter"></i></a>
                        <a href = "https://in.pinterest.com/eatofitfitnessplanner" class="social-icon mr-3"><i class="icon fa fa-pinterest-square"></i></a>
                </ul>	
                                                                                                                                                                            <br>
                                
                                            <p><strong>2019 © Copyright Fit 'O Eat'. All rights reserved. </strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </footer>
                 
         </div>
         </div>


        <script src="{{script}}"></script>
        <script crossorigin="anonymous" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    
</html>
