
         <div class = "container">
             <div class = "timeline-container">
                 <div class = "left text-wrapper">
                     <div class = "textOne">
                         <h3> Jan. 2019</h3>
                         <p>Fit 'O Eat starts Operation in <strong>Bengaluru.</strong></p>
                     </div>
                 </div>
                 <div class = "right text-wrapper">
                        <div class = "textOne">
                            <h3> March 2019</h3>
                            <p>Fit 'O Eat acquires its <br> <strong> 1<sup>st</sup> Customer.</strong></p>
                        </div>
                        </div>
                        <div class = "left text-wrapper">
                                <div class = "textOne">
                                    <h3> April 2019</h3>
                                    <p>Fit 'O Eat acquires its <strong>100<sup>th</sup> Customer.</strong></p>
                                </div>
                                </div>
                                <div class = "right text-wrapper">
                                        <div class = "textOne">
                                            <h3> August 2019</h3>
                                            <p>Fit 'O Eat acquires its <strong>500 <sup>th</sup> Customer.</strong></p>
                                        </div>
                                        </div>
                                        <div class = "left text-wrapper">
                                                <div class = "textOne">
                                                    <h3> September 2019</h3>
                                                    <p>Fit 'O Eat expands its operations to <Strong>Delhi, Mumbai, Pune & Chandigarh</Strong></p>
                                                </div>
                                                </div>
                                               <div class = "right text-wrapper">
                                                <div class = "textOne">
                                                    <h3> September 2019</h3>
                                                    <p>Fit 'O Eat gets its Series-A funding led by <strong>SAIF Partners. </strong></p>
                                                </div>
                                                </div>
                                                </div>
                                                </div>
                                               