
                <section>
                    <div class = "content text-warning">
                        <h2 class = "textOne text-center">Get In Touch </h2>
                        <h3 class = "text-center text-white">Subscribe to Your Free Session Today!</h3>
                          <h3 class ="text-center">
                    <a href = "mailto:eatofit.fitness.planner@gmail.com" class = "emailOne">eatofit.fitness.planner@gmail.com</a></h3>

                               
                              <div class = "containerOne">
                              <div class = "row">
                                 <div class = "col-sm-5">
                                 <form>
                                   <div class="form-group">
                                  <h4>Name</h4>
                                    <input type="text" id ="name" class="form-control mt-5" placeholder = "Enter Your Full Name"required>
                                         </div>
                                     <div class="form-group">
                                        <h4>Email</h4>
                                           <input type = "email" id = "email" class="form-control mt-5" placeholder = "Enter Your Email"required>
                                        </div>
                                            <div class="form-group">
                                               <h4>Please Ask Your Query</h4>
                                           <textarea class="form-control mt-5"  id = "query" rows ="3" id ="comment" placeholder ="Post Your Query" required></textarea>
                                             </div>
                                        <button type = "submit" class="btn btn-success btn-lg col-5">Submit</button>
                                         </form>          
                                         </div>
                                         </div>
                                         </div>
                                         </div>
                                          <h3 class = "textTwo">Subscribe to Our Newsletter for Free!</h3>
                                          <form action = "/success" method = "POST">
                                          <div class = "container-box">
                                          <div class = "email-box">
                                              <i class="fa fa-envelope"></i>
                                              <input id = "email" class ="tbox text-dark" type = "email" class ="tbox text-dark form-control" name = "boxOne" placeholder = "Enter Your Email" required>
                                              <button id = "submit" class = "btnOne" type = "button" name = "button">Subscribe</button>
                                              </form>
                                              </div>
                                            
                                          
                                          </div>
                                          </div>
                                            </section> 
                    
      
                    
                  

                
			
			

