
             <div class = "video-container">
                 <video muted playinline autoplay loop class = "fillwidth" preload = "auto"  webkit-playinline width = "100%">
                     <source src = "https://cdn.videvo.net/videvo_files/video/free/2019-03/small_watermarked/180419_Boxing_20_15_preview.webm" type = "video/mp4">
                        "Your browser does not support the video tag. I suggest you upgrade your browser."
                 </video>
              </div>
              <div class="video-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-10">
                                <h1 class='tag'> <span class = "text">Your Fitness Planner & Tracker.</span></h1>
                               
                            </div>
                        </div>
                    </div>
                </div> 
              <section class="white-bg">
                    <div class = "next-content">
                            <div class="container-fluid">  
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <h2 class="center-align">We are not just any other Health Expert !</h2>
                                    </div>
                                </div><br><br>
                                <div class="row icon-row">
                                    <div class="col-sm-2">
                                        <div class="center-align">
                                            <img src="https://image.flaticon.com/icons/svg/2210/2210534.svg" alt="logo_one_main" width = "50px" height = "50px">
                                        </div>
                                    </div><br>
                                    <div class="col-sm-9">
                                        <p>Our App helps you live a healthy, balanced life by tracking your all-day Activity, 
                                        <strong>Exercise, Sleep, Water-Intake & Weight.</strong><br>
                                        Your Daily WorkOut Partner!</p>
                                </div><br><br><br>
                                    <div class="col-sm-2">
                                        <div class="center-align">
                                            <img src="https://image.flaticon.com/icons/svg/185/185606.svg" alt="logo_two_main" width = "50px" height = "50px">
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <p><strong>Personalising your <strong>Daily Health Routine </strong>is just the beginning.</strong> We create everything from 
                                        </p>                                   </div>	
                                </div>
                                <div class="row icon-row">
                                    <div class="col-sm-2">
                                        <div class="center-align">
                                            <img src="https://image.flaticon.com/icons/svg/55/55316.svg" alt="logo_three_main" width = "50px" height = "50px">
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <p><strong>We believe fitness should be accessible to everyone, everywhere, 
                                            regardless of income or access to a gym.</strong> That's why we offer <strong>a ton of free, 
                                            professionally built workout videos</strong>, for every fitness level and goal.</p>
                                    </div>	
                                </div>
                            </div>
                        </div>
                    </section>
             <section>
                  
                  <div class = "container-three">
                  <h3 class = "textTwo">Subscribe to Our Newsletter for Free!</h3>
                  <form action = "/success" method ="POST">
                                          <div class = "container-box">
                                          <div class = "email-box">
                                              <i class="fa fa-envelope"></i>
                                     <input id = "email" class ="tbox text-dark" type = "email" name = "boxOne" placeholder= "Enter Your Email" required>
                                       
                                     <button  id = "submit"class = "btnOne" type = "submit" name = "button">Subscribe</button>
                                     </form>
                                            
                                          </div>
                                          </div>
                                          </div>
             </section>
                    
            