

     <div class="wrap">
  
         <h2 class = "headline">Register Here!</h2>
            <form action="/auth/signup" method="POST">
                <input type="text"  name="firstName"  placeholder="firstName" required/>
                <input type="text"  name="lastName"  placeholder="lastName" required/>
                <input type="email"  name="email"  placeholder="email" required/>
                <input type="password"  name="password"  placeholder="password" required/>
                <button type="submit" class="btn btn-primary">Sign Up</button><br><br>
                  
                  </form>
                       <p style="color: red;">
  {{{error}}}
</p>
                  </div>
                