 <section class ="tips">
   <section class = "top-title-one">
  <h1 class = "main-title-one">Nutritional Guidelines</h1>
  <h4 class="subheader">For Various Body Fat Reduction Goals</h4>
</section>


<div class="title-two">
    <h2 class="break text-center">WEIGHT LOSS: THE MOST IMPORTANT METRIC TO MEASURE PROGRESS</h2>

        <h3 class="blue text-center">What is Body Fat Percentage?</h3>
      </div>
      <div class = "container">
      <div class="row">
        <div class = "col-12 mt-5 content-zero">
          <p>
        Your body fat percentage is the single best indicator of your fitness level because it tells you information
        about how your body is composed. Your body fat percentage tells you where your weight is coming from: lean mass
        (such as muscle and bone) vs. stored body fat.
        <br>
        <br>
        The essential or minimum healthy amount of body fat for<strong> men is around 4% and for women is around 10-14%.</strong> It is a
        much more reliable measure of fitness than BMI - body mass index, which is a measure of your weight vs height.
        This can become unrealiable as someone puts on muscle and gets heavier, though much leaner.
        </p>
      </div>
    </div>
    </div>
    <strong></strong>

    <div class="container mt-5">
      <div class="col-12">
        <h3 class="blue">Why do we care about body fat percentage instead of calories and pounds?</h3>
      </div>

      <div class="col-12">
       <p> If you weigh 100+ Kgs, start our Core Routine today and still weigh 70-80 kgs a month from now, you'll think that this
        program doesn't work. However, what you don't know is that your body fat may have changed quite a bit.
        </p>
        <br>
        <br>

        You may have put on muscle (which makes you much leaner, but heavier because muscle weighs more than fat) and
        lost body fat (which makes you smaller and helps you lose inches). Unless you measure your body fat percentage,
        you wouldn't know what happened to your body. Weight is a very poor indicator of progress. What is a reliable
        measure? The way your clothes fit, your energy, your digestion, your health, and how you feel about yourself.
        Get off the scale, measure your body fat.
      </div>
    </div>

<br>
<section>
  <div class = "container">
  <div class="row">


    <h2 class="break text-center mt-5">HOW TO REDUCE YOUR BODY FAT PERCENTAGE: GENERAL NUTRITION GUIDELINES TO HELP YOU GET LEAN</h2>

    <div class="col mt-5">
      <dl>
        <dt>Frequency of meals</dt>
        <dd>Eat 5-6 small meals every day.</dd>
      </dl>

      <dl>
        <dt>Size of meals</dt>
        <dd>Make breakfast your biggest meal and dinner your smallest.</dd>
      </dl>

      <dl>
        <dt>Hydration</dt>
        <dd>Drink as much water as you need to stay hydrated. How do you know you're properly hydrated? The color of
          your pee is clear.
        </dd>
      </dl>

      <dl>
        <dt>Veggies</dt>
        <dd>Eat as many non-starchy veggies as you want.</dd>
      </dl>

      <dl>
        <dt>Protein</dt>
        <dd>Eat a lean protein 3-5 times per day. Aim for the size of the thickness of your palm: Chicken, turkey, fish,
          eggs, bison, buffalo, protein powder.
        </dd>
      </dl>

      <dl>
        <dt>Muscle fueling</dt>
        <dd>If you are extremely active, add an additional portion of protein daily to feed your muscle mass and to stay
          full. Protein shakes are ideal.
        </dd>
      </dl>

      <dl>
        <dt>Fats</dt>
        <dd>Eat healthy fats in moderation, such as avocado, olive oil, coconut oil with every meal. You only need about
          10g 5x a day.
        </dd>
      </dl>
    </div>
  </div>
  <br><br>
</section>
</section>