<div class="wrap">  

  {{!-- this section belongs to the fitness videos  --}}
       <div class="main">
       {{!-- some fitness quotes hear --}}
    <div class="row mt-5">  
      <div class="col-sm"><br><br><br><br>
       <h3 class="heading heading--level3 brand-color">
           Fitness Motivation Quotes
       </h3>

        <p class = "mt-5">#1 The last three or four reps is what makes the muscle grow </p>
        <p>#2 All progress takes place outside the comfort zone.</p>
        <p>#3 You have to want it, you have to plan for it…</p>
        <p>#4 What hurts today makes you stronger tomorrow.</p>
        <p>#5 Think of your workouts as important meetings…</p>
        <p>#6 Walk in strong, crawl out stronger…</p>
      
      </div>
         {{!-- some fitness videos hear --}}
      <div class="col-sm-6">
              <iframe style="max-width:100%;width:620px;height:285px"src="https://www.youtube.com/embed/X_9VoqR5ojM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div> 
 </div> 
<br>
  <br>
    <br>

 <div class="row content">

         <div class="col-sm-7">
                            
         <iframe style="max-width:100%;width:620px;height:285px"  src="https://www.youtube.com/embed/Kr_nGUvNCJQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </div> 
                                   
 <div class="col-sm-5">
   <h3 class="heading heading--level3 brand-color">
       Hear You Have Some More Quotes 
        </h3>
        <p>#1 When you want to give up, remember why you started…</p>
        <p>#2 If you think lifting is dangerous, try being weak. .</p>
        <p>#3 The only place where success comes before work is in the dictionary.</p>
        <p>#4 Action is the foundational key to all success.</p>
        <p>#5 Well done is better than well said.</p>
        <p>#6 A champion is someone who gets up when they can’t.</p>
       
      </div>

    </div> 
        
</div>

<div class="main1">
{{!-- this section belongs to the yoga  --}}
 <div class="row">  
  <div class="col-sm-6">

    {{!-- some yoga quotes  --}}
   <h3 class="heading heading--level3 brand-color">
       Best Yoga Quotes 
   </h3>

    <p>#1 Without peace, all other dreams vanish and are reduced to ashes.</p>
    <p>#2 Meditation can reintroduce you to the part that’s been missing.</p>
    <p>#3 Let your practice be a celebration of life</p>
    <p>#4 In truth,yoga doesn't take time it gives time</p>
    <p>#5 To perform every action artfully is yoga</p>
    <p>#6 the longest journey of any person is the journey in words</p>
    

</div>    
{{!-- some yoga video tutoral's  --}}                        
<div class="col-sm-6">   
<iframe style="max-width:100%;width:620px;height:300px" src="https://www.youtube.com/embed/_nAFNty1sPg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                                 
</div> 
</div>  
<br>
 <br>
 <br>

<div class="row">

 <div class="col-sm-7">
 <iframe style="max-width:100%;width:620px;height:285px" src="https://www.youtube.com/embed/1r6LEb-XB1s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                     
 </div>  
 <div class="col-sm-5">
  <h3 class="heading heading--level3 brand-color">
     More Quotes For Daily Inspiration
  </h3>

   <p>#1 Yoga is the perfect opportunity to be curious about who you are.</p>
   <p>#2 Yoga is a light, which once lit will never dim. ...</p>
   <p>#3 Yoga is the golden key that unlocks the door to peace,joy.</p>
   <p>#4 The quality of our breath expresses our inner feelings</p>
   <p>#5 Yoga is 99 percent practice and one percent theory.</p>
   <p>#6 Your body will most likely become much more flexible by doing yoga.</p>
  

 </div>             
 </div> 

</div>  


 <div class="main">
        {{!-- weight loss  videos --}} 
    <div class="row">  
      <div class="col-sm-6">
       <h3 class="heading heading--level3 brand-color">
           Some Fitness Motivation Quotes
       </h3>

        <p>#1 The last three or four reps is what makes the muscle grow </p>
        <p>#2 All progress takes place outside the comfort zone.</p>
        <p>#3 You have to want it, you have to plan for it…</p>
        <p>#4 What hurts today makes you stronger tomorrow.</p>
        <p>#5 Think of your workouts as important meetings…</p>
        <p>#6 Walk in strong, crawl out stronger…</p>
      
      </div>
      <div class="col-sm-6">
        <iframe style="max-width:100%;width:620px;height:285px" src="https://www.youtube.com/embed/N7G-kGvai4M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>     
      
       </div> 
 </div> 
<br>
  <br>
    <br>

 <div class="row content">

         <div class="col-sm-7">
                            
        
     {{!-- weight loss  videos --}} 
  <iframe style="max-width:100%;width:620px;height:285px" src="https://www.youtube.com/embed/ogvdOEyUTO4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </div> 
                                   
 <div class="col-sm-5">
   <h3 class="heading heading--level3 brand-color">
       Hear You Have Some More Quotes 
        </h3>
        <p>#1 When you want to give up, remember why you started…</p>
        <p>#2 If you think lifting is dangerous, try being weak. .</p>
        <p>#3 The only place where success comes before work is in the dictionary.</p>
        <p>#4 Action is the foundational key to all success.</p>
        <p>#5 Well done is better than well said.</p>
        <p>#6 A champion is someone who gets up when they can’t.</p>
       
      </div>

    </div> 
        
</div>


<div class="main1">

 {{!-- weight gain videos --}}  
 <div class="row">  
  <div class="col-sm-6">
   <h3 class="heading heading--level3 brand-color">
       Best Yoga Quotes 
   </h3>

    <p>#1 Without peace, all other dreams vanish and are reduced to ashes.</p>
    <p>#2 Meditation can reintroduce you to the part that’s been missing.</p>
    <p>#3 Let your practice be a celebration of life</p>
    <p>#4 In truth,yoga doesn't take time it gives time</p>
    <p>#5 To perform every action artfully is yoga</p>
    <p>#6 the longest journey of any person is the journey in words</p>
    

</div>                            
<div class="col-sm-6">   



  <iframe  style="max-width:100%;width:620px;height:285px" src="https://www.youtube.com/embed/BFHsX5mWff8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div> 
</div>  
<br>
 <br>
 <br>

<div class="row">
  {{!-- weight gain videos --}}  
 <div class="col-sm-7">
  <iframe style="max-width:100%;width:620px;height:285px" src="https://www.youtube.com/embed/zpxHe8NxLmI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </div>  
 <div class="col-sm-5">
  <h3 class="heading heading--level3 brand-color">
     More Quotes For Daily Inspiration
  </h3>

   <p>#1 Yoga is the perfect opportunity to be curious about who you are.</p>
   <p>#2 Yoga is a light, which once lit will never dim. ...</p>
   <p>#3 Yoga is the golden key that unlocks the door to peace,joy.</p>
   <p>#4 The quality of our breath expresses our inner feelings</p>
   <p>#5 Yoga is 99 percent practice and one percent theory.</p>
   <p>#6 Your body will most likely become much more flexible by doing yoga.</p>
  

 </div>             
 </div> 

</div>  

</div>