

<form action="/setting" method="post">
<div class="container col-md-6">
        <h2>Please Enter Details !</h2>
        <hr>
        <form>
            <div class="row mt-5">
                <div class="col">
                    <input type="text" name="firstName" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                    <input type="text" name="lastName" class="form-control" placeholder="Last name">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <input type="email" name="email" value ="{{email}}" class="form-control" placeholder="Email ID" readonly>
                </div>
                <div class="col">
                    <input type="text" name="username" value="{{username}}" class="form-control" placeholder="User name" readonly>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <input type="text" name="weight" class="form-control" placeholder="Weight(Kg)">
                </div>
                <div class="col">
                    <input type="text" name="height" class="form-control" placeholder="Height(cm)">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <input type="text" name="age" class="form-control" placeholder="Age">
                </div>
                <div class="col">
                    <input type="text" name="sleepingHour" class="form-control" placeholder="Sleeping hours">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <input type="text" name="WaterIntake" class="form-control" placeholder="Water intake(Liters)">
                </div>
                <div class="col">
                    <input type="text" name="walkingDistance" class="form-control" placeholder="Walking distance(km)">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <input type="text" name="workoutTime" class="form-control" placeholder="Workout time(minutes)">
                </div>
                <div class="col">
                    <input type="text" name="calorieIntake" class="form-control" placeholder="Calorie intake(kcal)">
                </div>
            </div>
            <br>
    
            <br>
            <div class="button text-center">
                <button type="submit" id ="submit-button" name="mt-5" class="btn btn-success btn btn-lg mt-5">Save Changes</button>
            </div>
        </form>
    </div>
    