<div class="container col-md-6">
        <h2>Please Enter Details !</h2>
        <hr>
        <form>
            <div class="row mt-5">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last name">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <input type="email" class="form-control" placeholder="Email ID">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="User name">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Weight(Kg)">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Height(cm)">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Age">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Sleeping hours">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Water intake(Liters)">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Walking distance(km)">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Workout time(minutes)">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Calorie intake(kcal)">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <input type="password" id="password" class="form-control" placeholder="Password">
                </div>
                <div class="col">
                    <input type="password" id="confirm-password" class="form-control" placeholder="Confirm password">
                </div>
            </div>
            <br>
            <div class="button text-center">
                <button type="button" id ="submit-button" class="btn btn-success btn btn-lg mt-5">Save Changes</button>
            </div>
        </form>
    </div>
    <!--jQuery & scripts-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="index.js"></script>