@import url('https://fonts.googleapis.com/css?family=Crete+Round&display=swap');
@import url('href="https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    background: url(https://images.unsplash.com/photo-1563685759732-3b118f9445c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    margin: 0%;
    padding: 0%;
}

.container h2:hover {
  color: #ffdb00;
}


.container{
    border-radius: 15px;
    background: rgba(34, 33, 33, 0.8);
    padding-top: 40px;
    padding-bottom:40px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    margin-top: 200px;
    margin-left: 380px;
    margin-right: 500px;
    margin-bottom: 150px;
    
}

.row{

    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color:  rgba(0, 0, 0, 0.27);

}

h2 {
    color: white;
    font-family: 'Crete Round', serif;
    text-align: center;

}
.button{
    margin: 0px auto;
    
}

.input{
    background: rgba(0, 0, 0, 0.27);
    font-family: 'Roboto', sans-serif;
}



.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 30px;
    display: block;
    width: 100%;
  
  }
  
  .header a:hover {
    color: #ffdb00;
  }
  

  .col-sm-3 {
    width: 25%;
   
    
  }
  
  .a {
    text-decoration: none;
  }
  
  
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .row {
  
      margin-right: -15px;
      margin-left: -15px;
  }
  
  
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 5px;
    padding-right: 15px;
    padding-left: 20px;
  }
  
  
  .main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    text-decoration: none;
    
  }
  
  .main-nav ul li {
  
    float: left;
    display: inline;
    text-decoration: none;
  }
  
  .main-nav ul li:first-child a {
    padding-left: 0;
    text-decoration: none;
  }
  
  .main-nav ul li a {
    padding-left: 40px;
    text-decoration: none;
  }
  
  .main-nav ul li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    padding-left: 60px;
    font-size: 90%;
    letter-spacing: .8px;
    text-decoration: none;
  }
  

  .article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
    text-decoration: none;
  }


  .footer {

    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    padding: 40px 0 40px 0;
    margin-left: 550px;
  }
  
 
  .footer ul {
    padding: 0;
    text-decoration: none;
  }

  .row {
    margin-right: -15px;
    margin-left: -15px;
    text-decoration: none;
  }
  
  .footer ul li a {
    color: #ffffff;
    padding: 0 30px;
    text-decoration: none;
    list-style: none;
  
  }
  
  .footer ul li {
    font-size: 1.25em;
    list-style: none;
  }

  .footer a:hover {
    color: #ffdb00;
   
  }

       /**        ------------------------------     Instargam-icon  */
  
  .footer .fa-instagram {
    font-size: 3em;
    text-decoration: none;
  }

  .footer .fa-instagram:hover{
    color:#ffffff;
  }


   /**        ------------------------------     Facebook-icon  */
  

  .footer .fa-facebook-f {
    font-size: 3em;
    text-decoration: none;
  }

  .footer .fa-facebook-f:hover {
    color: #ffffff;
    background-color: #3b5998;
  }

   /**        ------------------------------     Youtube-icon  */
  

  .footer .fa-youtube-square {
    font-size: 3em;
    text-decoration: none;
  }

  .footer .fa-youtube-square:hover{
    color: #c4302b;
    background-color: #ffffff;
  }


   /**        ------------------------------     Twitter-icon  */


  .footer .fa-twitter {
    font-size: 3em;
    text-decoration: none;
  }

  .footer .fa-twitter:hover{
    color: #1dcaff;
  }
   

   /**        ------------------------------     Pinterest-icon  */
  

  .footer .fa-pinterest-square {
    font-size: 3em;
    text-decoration: none;
  }

  .footer .fa-pinterest-square:hover{
    color: #c8232c;
    background-color: #ffffff;
  }

 /**        ------------------------------     Icons  End */
  

  .footer p {
    font-size: 110%;
    color: #ffffff;
    opacity: .5;
    text-decoration: none;
  }
  